*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    background:linear-gradient(135deg,#509bb9,#203a43,#2c5364);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

.container{
    width:90%;
    max-width:600px;
    background:rgba(48, 77, 130, 0.08);
    padding:40px;
    border-radius:20px;
    text-align:center;
    backdrop-filter:blur(12px);
    box-shadow:0 0 30px rgba(0,0,0,0.4);
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.search-box input{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:none;
    outline:none;
}

.search-box button{
    padding:12px 18px;
    border:none;
    border-radius:10px;
    background:#4caf50;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.search-box button:hover{
    background:#43a047;
}

/* CIRCLES ROW */
.progress{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

/* CIRCLE DESIGN */
.circle{
    width:120px;
    height:120px;
    border-radius:50%;
    border:4px solid #4facfe;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-weight:bold;
    transition:0.3s;
    background: color #434343;
}

.circle:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px rgba(79,172,254,0.7);
}

.easy-progress{ border-color:#022b17; }
.medium-progress{ border-color:#453403; }
.hard-progress{ border-color:#610404; }

/* CARDS */
.stats-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
    color: aqua;
    
}

.card{
    background:rgba(102, 102, 148, 0.1);
    padding:15px;
    border-radius:12px;
    font-weight:bold;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}